spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

cloudinary:
  cloud-name: test
  api-key: test
  api-secret: test

admin:
  username: admin
  password: admin123
